* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.contenu {
  margin: 1%;
}

.title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 1%;
}
.WdAllOutWar {
  margin-top: 1%;
  border: 2px solid #080808;
  box-shadow: 5px 3px 8px 0px #000000;
}
.container {
  display: flex;
  align-items: flex-start;
}
.titreBoite {
  text-align: center;
  margin-top: 11%;
}
.boiteJeuxWd {
  width: 65%;
  margin-left: 24%;
}
.boite {
  display: flex;
  flex-direction: column;
}
.descriptionJeux {
  border: 2px solid #080808;
  margin-top: 2%;
  padding: 1%;
  width: 57%;
  line-height: 2;
  box-shadow: 5px 3px 8px 0px #000000;
  background-color: darkgrey;
}
.Peinture {
  width: 25%;
}
