* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.contenu {
  background-color: aquamarine;
  margin: 1%;
}

.title {
  background-color: aqua;
  text-align: center;
  margin-top: 0;
  font-size: 60px;
}
