//version portable
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.contenu {
  margin: 2%;
}

.title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 4%;
}
.WdAllOutWar {
  width: 100%;
  margin-top: 8%;
  border: 2px solid #080808;
  box-shadow: 5px 3px 8px 0px #000000;
}
.container {
  display: flex;
  align-items: flex-start;
}
.titreBoite {
  text-align: center;
}
.boiteJeuxWd {
  width: 55%;
  margin-left: 24%;
  box-shadow: 5px 3px 8px 0px #000000;
  border: 2px solid #080808;
  margin-top: 4%;
}
.boite {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
.descriptionJeux {
  border: 2px solid #080808;
  margin-top: 1%;
  padding: 1%;
  width: 77%;
  line-height: 2;
  box-shadow: 5px 3px 8px 0px #000000;
  background-color: darkgrey;
  overflow-y: scroll;
  height: 15rem;
}
.container1 {
  display: flex;
  align-items: flex-start;
}
.boite1 {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.titreBoite1 {
  //font-size: 1rem;
  text-align: center;
  margin-top: 5%;
}
.boiteJeuxZomb {
  width: 55%;
  margin-left: 22%;
  box-shadow: 5px 3px 8px 0px #000000;
  border: 2px solid #080808;
  margin-top: 4%;
}

//version desktope
@media screen and (min-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  .contenu {
    margin: 1%;
  }

  .title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 1%;
  }
  .WdAllOutWar {
    margin-top: 4%;
    border: 2px solid #080808;
    box-shadow: 5px 3px 8px 0px #000000;
  }
  .container {
    display: flex;
    align-items: flex-start;
  }
  .titreBoite {
    text-align: center;
    font-size: 27px;
    margin-left: 10%;
  }
  .boiteJeuxWd {
    width: 65%;
    margin-left: 24%;
    box-shadow: 5px 3px 8px 0px #000000;
    border: 2px solid #080808;
    margin-top: 4%;
  }
  .boite {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
  }
  .descriptionJeux {
    border: 2px solid #080808;
    margin-top: 1%;
    padding: 1%;
    width: 75%;
    line-height: 2;
    box-shadow: 5px 3px 8px 0px #000000;
    background-color: darkgrey;
    height: auto;
    overflow: hidden;
  }
  .container1 {
    display: flex;
    align-items: flex-start;
  }
  .boite1 {
    display: flex;
    flex-direction: column;
  }
  .titreBoite1 {
    font-size: 27px;
    text-align: center;
    margin-top: 5%;
  }
  .boiteJeuxZomb {
    width: 55%;
    margin-left: 22%;
    box-shadow: 5px 3px 8px 0px #000000;
    border: 2px solid #080808;
    margin-top: 4%;
  }
}
